<%- include('./partials/header.ejs') %>

	<ul>

		<% for(let i = 0; i < pokemon.length; i++) { %>
			<li class="pokemon"><%= pokemon[i].name %></li>
		<% } %>

	</ul>


<%- include('./partials/footer.ejs') %>