<%- include('./partials/header.ejs') %>

<form method="POST" action="/pokemon">
	
	<fieldset>
		<label for="name">Name:</label>
		<input id="name" type="text" name="name" placeholder="Enter Pokemon name">
	</fieldset>

	<fieldset>
		<label for="image">Image:</label>
		<input id="image" type="text" name="image" placeholder="Enter image for new Pokemon">
	</fieldset>

	<button>Add Pokemon</button>

</form>

<%- include('./partials/footer.ejs') %>